[user]
    name = Jesse Widner
[alias]
    lol = log --graph --oneline --decorate --color --all
    co = checkout
    ci = commit
    st = status
    dt = difftool
    l = log --stat
    cp = cherry-pick
    ca = commit -a
    b = branch
    sw = switch
[init]
    defaultBranch = main
