[user]
    name = Jesse Widner
[include]
    path = ~/.gitconfig.local
[alias]
    lol = log --graph --oneline --decorate --color --all
    co = checkout
    ci = commit
    st = status
    dt = difftool
    l = log --stat
    cp = cherry-pick
    ca = commit -a
    b = branch
    sw = switch
    pushfl = push --force-with-lease
[init]
    defaultBranch = main
[diff]
    tool = vimdiff
[core]
    hooksPath = ~/.git-hooks
